<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
     <a href="#" th:href="@{/board/write}" class="btn btn-primary"
                       role="button">글쓰기</a>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td>
                    <a href="#" th:href="@{/boards/{id}/detail(id=${board.id})}" class="btn btn-primary"
                       role="button">조회</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
</html>
